.conatiner {
  margin: 4rem 0rem;
  /* padding: 2rem; */
}
.cardsBox {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  position: relative;
  border-radius: 0.8rem;
  width: 18rem;
  height: 24rem;
  padding: 0.2rem;
  background-color: var(--bgSoft);
}


.startbutton[disabled],
.stopbutton[disabled] {
  opacity: 0.5; /* Example: Reduce opacity to visually indicate disabled state */
  cursor: not-allowed; /* Example: Change cursor to indicate disabled state */
}

.Image{
  width: 100%;
  height: 12rem;
}
.bitmartImage {
  width: 100%;
  /* height: 12rem; */
  object-fit: cover;
  border-radius: 0.5rem;
}

.content {
    margin-top: 1rem;
  display: flex;
  /* jus */
  flex-direction: column;
  padding: 0.4rem;
  gap: 10px;
}


.content h4{
    font-weight: bold;
    font-size: 1.3rem;
    /* letter-spacing: 0.1rem; */
    font-family: "Jost", sans-serif;
}
.content p{
    font-weight: 500;
    color: var(--textSoft);
}

.buttonGroup{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}


.startbutton {
    border: none;
    padding: 0.8rem;
    width: 7rem;
    color: white;
    background-color: #00B386;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .stopbutton {
    border: none;
    padding: 0.8rem;
    width: 7rem;
    color: white;
    background-color: #EB4335;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  @media (max-width: 990px) {
    .conatiner {
      margin-top: 4rem;
    }

    .cardsBox{
      /* background-color: #00B386; */
      justify-content: center;
      align-items: center;
      padding: 1rem;
     }
  }

  @media (max-width: 650px) {

    
    .card{
      /* width: 90%; */
    }
  }

 